<div>
    <button (click)="openPaymentModal()" class="btn btn-primary">Pay Out</button>
    <modal class="modal-top" #paymentModal>
        <ng-template #modalHeader><h2 class="bg-gray-50 p-3 text-center text-lg font-bold">Admin Settings</h2></ng-template>
        <ng-template #modalBody>
            <div [ngSwitch]="tab">
                <div *ngSwitchCase="'home'">
                    <form [formGroup]="paymentForm">
                        <div class="mb-5">
                            <label for="name" class="mb-2 block font-bold text-gray-600">Name</label>
                            <ng-select
                                [disabled]="allSelected === false"
                                [loading]="isLoading"
                                [multiple]="true"
                                [clearable]="false"
                                (change)="onTutorSelection($event)"
                                placeholder="Select a tutor"
                                class="custom-multiselect"
                                [formControlName]="'tutors'"
                            >
                                <div *ngIf="allSelected === false">
                                    <ng-option *ngFor="let tutor of filteredTutorsList" [value]="tutor"
                                        >{{ tutor.name + '( ' + tutor.email + ' )' }}
                                    </ng-option>
                                </div>
                            </ng-select>
                            <div *ngIf="allSelected" class="my-4 text-gray-500">you have current selectd all tutors to make payment to</div>
                        </div>

                        <div class="mb-5">
                            <label class="mb-2 block font-bold text-gray-600">Pay Everyone</label>
                            <input (change)="onPayAllChecked($event)" type="checkbox" formControlName="payEveryone" />
                            <span class="mx-2 text-sm text-gray-400">By Selecting all you would send the amount to all tutors</span>
                        </div>

                        <div class="mb-3">
                            <label for="amount" class="mb-2 block font-bold text-gray-600">Amount</label>
                            <input
                                type="text"
                                id="amount"
                                formControlName="amount"
                                placeholder="Amount (GHS)"
                                class="mb- w-full rounded border border-red-300 p-3 shadow"
                            />
                            <p
                                *ngIf="paymentForm.get('amount')?.invalid && (paymentForm.get('amount')?.dirty || paymentForm.get('amount')?.touched)"
                                class="mt-2 text-sm text-red-400"
                            >
                                Amount is required and must be a valid number.
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="mb-2 block font-bold text-gray-600">Reason</label>
                            <input
                                type="text"
                                id="amount"
                                formControlName="reason"
                                placeholder="eg;: monthly stipends"
                                class="mb- w-full rounded border border-red-300 p-3 shadow"
                            />
                            <p
                                *ngIf="paymentForm.get('reason')?.invalid && (paymentForm.get('reason')?.dirty || paymentForm.get('reason')?.touched)"
                                class="mt-2 text-sm text-red-400"
                            >
                                Reason: You monthly stipend
                            </p>
                        </div>

                        <button
                            type="button"
                            (click)="toggleTab('finish')"
                            class="block w-full rounded-lg bg-blue-400 p-4 font-bold text-white hover:bg-blue-500"
                        >
                            Proceed
                        </button>
                    </form>
                </div>
                <div *ngSwitchCase="'finish'">
                    <div class="m-4">
                        <button (click)="toggleTab('home')">
                            <i class="bi bi-arrow-left text-2xl"></i>
                        </button>
                    </div>
                    <div class="h-60 max-h-60 overflow-y-auto">
                        <ul role="list" class="divide-y divide-gray-100">
                            <li *ngFor="let tutor of paymentForm.value.tutors" class="flex justify-between gap-x-6 py-5">
                                <div class="flex min-w-0 gap-x-4">
                                    <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="{{ tutor?.imageUrl }}" alt="" />
                                    <div class="min-w-0 flex-auto">
                                        <p class="text-sm font-semibold leading-6 text-gray-900">{{ tutor?.name }}</p>
                                        <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ tutor?.email }}</p>
                                    </div>
                                </div>
                                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                                    <p class="text-sm leading-6 text-gray-900">Tutor</p>
                                    <p class="mt-1 text-xs leading-5 text-gray-500">
                                        {{ paymentForm.value.amount }} <span class="font-bold text-gray-900">GHS</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <form [formGroup]="paymentForm">
                        <div class="m-4">
                            <label for="secret" class="mb-2 block font-bold text-gray-600">Secret</label>
                            <input
                                type="password"
                                id="amount"
                                formControlName="secret"
                                placeholder="payment secrete"
                                class="mb- w-full rounded border border-red-300 p-3 shadow"
                            />
                            <p
                                *ngIf="paymentForm.get('secret')?.invalid && (paymentForm.get('secret')?.dirty || paymentForm.get('secret')?.touched)"
                                class="mt-2 text-sm text-red-400"
                            >
                                Secret is required and must be a valid number.
                            </p>
                        </div>
                    </form>

                    <div class="m-4 flex flex-row">
                        <button
                            [disabled]="paymentLoading === true"
                            type="button"
                            (click)="createPaymentRequest()"
                            class="flex space-x-2 items-center justify-center flex-row w-full rounded-lg bg-blue-400 p-4 font-bold text-white hover:bg-blue-500"
                        >
                            <div *ngIf="paymentLoading" role="status">
                                <svg
                                    aria-hidden="true"
                                    class="h-8 w-8 animate-spin fill-blue-600 text-gray-200 dark:text-gray-600"
                                    viewBox="0 0 100 101"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                        fill="currentColor"
                                    />
                                    <path
                                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                        fill="currentFill"
                                    />
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </div>

                            Pay
                        </button>
                        <button
                            type="button"
                            (click)="closePaymentModal()"
                            class="block w-full rounded-lg bg-red-400 p-4 font-bold text-white hover:bg-red-500"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
            <modal class="" #alertModal>
                <ng-template #modalHeader>
                    <h2 class="bg-gray-50 p-3 text-center text-lg font-bold">Payment Status</h2>
                </ng-template>

                <ng-template #modalBody>
                    <ng-container *ngIf="!errorInPayment; else failure">
                        <div class="flex flex-col items-center justify-center">
                            <div class="mx-auto mb-3.5 mt-8 flex h-12 w-12 items-center justify-center rounded-full bg-green-100 p-2 dark:bg-green-900">
                                <svg
                                    aria-hidden="true"
                                    class="h-8 w-8 text-green-500 dark:text-green-400"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                                <span class="sr-only">Success</span>
                            </div>
                            <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">Payment sent successfully</p>
                            <button
                                data-modal-toggle="successModal"
                                type="button"
                                class="bg-primary-600 hover:bg-primary-700 focus:ring-primary-300 dark:focus:ring-primary-900 rounded-lg px-3 py-2 text-center text-sm font-medium text-white focus:outline-none focus:ring-4"
                            >
                                Continue
                            </button>
                        </div>
                    </ng-container>

                    <ng-template #failure>
                        <div class="flex flex-col items-center justify-center">
                            <div class="mx-auto mb-3.5 mt-8 flex h-12 w-12 items-center justify-center rounded-full bg-red-100 p-2 dark:bg-red-900">
                                <svg
                                    aria-hidden="true"
                                    class="h-8 w-8 text-red-500 dark:text-red-400"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M10 9a1 1 0 011 1v4a1 1 0 11-2 0v-4a1 1 0 011-1zm0-7a9 9 0 100 18A9 9 0 0010 2z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                                <span class="sr-only">Error</span>
                            </div>
                            <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">There was an error processing your payment.</p>
                            {{ erroMsg }}
                        </div>
                    </ng-template>
                </ng-template>
            </modal>
        </ng-template>
    </modal>
</div>

<div class="panel mt-6 pb-1.5">
    <div class="mb-4.5 flex flex-col justify-between gap-5 md:flex-row md:items-center">
        <div class="text-right">
            <input [(ngModel)]="search" type="text" class="form-input w-auto" placeholder="Search..." />
        </div>
    </div>

    <div class="datatable">
        <ng-datatable
            [loading]="isLoading"
            [rows]="transactionsHistory"
            [columns]="cols"
            [sortable]="true"
            [search]="search"
            [pageSize]="5"
            skin="whitespace-nowrap table-hover"
            firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
            previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        >
            <ng-template slot="status" let-value="data">
                <span class="whitespace-nowrap rounded-lg px-2 py-1 text-white" [ngClass]="value.status == 'Pending' ? 'bg-orange-500' : 'bg-green-700'">{{
                    value.status
                }}</span>
            </ng-template>

            <ng-template slot="name" let-value="data">
                {{ value?.recipient?.name }}
            </ng-template>

            <ng-template slot="number" let-value="data">
                {{ value?.recipient?.details?.account_number }}
            </ng-template>

            <ng-template slot="amount" let-value="data"> {{ value?.amount / 100 }} {{ value?.currency }} </ng-template>
        </ng-datatable>
    </div>
</div>
