<div class="">
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" routerLink="/qa-requests" class="text-primary hover:underline">qa-requests</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
            <span>all-requests</span>
        </li>
    </ul>
     
</div>
<div class="panel mt-6 pb-1.5">
    <div class="mb-4.5 flex flex-col justify-between gap-5 md:flex-row md:items-center">
        <div class="text-right">
            <input [(ngModel)]="search" type="text" class="form-input w-auto" placeholder="Search..." />
        </div>
    </div>
    <div class="datatable">
        <ng-datatable 
            [loading]="isLoading"
            [rows]="allQuestions"
            [columns]="cols"
            [sortable]="true"
            [search]="search"
            [pageSize]="5"
            skin="whitespace-nowrap table-hover"
            firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
            previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        >
            <ng-template slot="email" let-value="data">
                <span class="whitespace-nowrap rounded-lg px-2 py-1">{{ value.student?.email }}</span>
            </ng-template>
            <ng-template slot="studentName" let-value="data">
                <span class="whitespace-nowrap rounded-lg px-2 py-1">{{ value.student?.name }}</span>
            </ng-template>
            <ng-template slot="status" let-value="data">
                <span class="whitespace-nowrap rounded-lg px-2 py-1 text-white" [ngClass]="value.status == 'Pending' ? 'bg-orange-500' : 'bg-green-700'">{{
                    value.status
                }}</span>
            </ng-template>
            <ng-template slot="dueDate" let-value="data">
                <span class="whitespace-nowrap rounded-lg px-2 py-1">{{ value.dueDate.seconds * 1000 | date }}</span>
            </ng-template>
            <ng-template slot="createdOn" let-value="data">
                <span class="whitespace-nowrap rounded-lg px-2 py-1">{{ value.createdOn.seconds * 1000 | date }}</span>
            </ng-template>
            <ng-template slot="amount" let-value="data">
                <div class="min-w-[150px] text-black dark:text-white">
                    <div class="flex items-center">
                        <span class="whitespace-nowrap">{{ value.amount }}</span
                        ><small class="ml-2">{{ value.currency }}</small>
                    </div>
                </div>
            </ng-template>
            <ng-template slot="action" let-value="data">
                <div class="flex gap-4">
                    <a class="rounded-xl bg-green-600 p-3 text-white" routerLink="{{ value.id }}">View</a>
                </div>
            </ng-template>
        </ng-datatable>
    </div>
</div>
